Cargo.*
CMakeLists.txt
Makefile
Package.swift
bindings/
go.mod
setup.py
pyproject.toml
src/parser.c
src/*.json
src/tree_sitter
build/
node_modules/
binding.gyp
package.json

prims.json
primitives.json
